* {
  margin: O;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.logo img{
  width: 200px;
  height: 100px;
}

nav {
  display: flex;
}

.navbar {
  display: flex;
  
}

.navbar a {
  padding: 10px;
  font-size: 20px;
}

.menu {
  width: 100%;
}

.material-symbols-outlined {
  font-size: 60px;
  padding-top: 30px;
  padding-left: 90%;
  height: 60px;
  
}

.hero{
  display: flex;
  flex-direction: column;
}

.hero h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}
.image-empl {
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  text-align: center;
}

.video{
  text-align: center;
  padding-top: 20px;
  width: 500px;
  height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}


@media only screen and (max-width: 600px)  {
  .navbar {
    display: none;
  }
}